.landingPage {
    justify-content: center;
    max-height: 100vh;
    margin-left: auto;
    margin-right: auto;
}
.landingPage_image {
    width: 100%;
    position: relative;
    z-index: -1;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}
.introductonContainer{
    position:absolute ;
    width:500px;
    height:300px;
    right:50px;
    top:250px;
    
}
.introParagraph {
    font-size: 30px;
}
.button_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px; 
  }
  
  .login_button,
  .signup_button {
    padding: 10px 20px;
    background-color: #de5246; 
    color: #ffffff; 
    border: 1px solid;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 20px;
    font-size: 18px; 
  }
  
  .small-text {
    font-size: 15px;
  }